[Unit]
Description=CSI UDP Relay to Upstream Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/csi-udp-relay.py --upstream-ip <upstream-ip> --upstream-port 5566
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
